/* CSS Reset */
*{
    margin: 0;
    padding: 0;

}
/* CSS Variable */
:root{
    --navbar-height:59px;
}

/* Navbar */

#navbar{
    display: flex;
    align-items: center;
   position: sticky;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
 }
/* Navigation Bar: Img and Logo */
#logo img{
    margin:5px 6px;
    border-radius: 30px;
}
#logo img{
    height: 60px;
    margin:5px 6px;
}

/* ul */

#navbar ul{
    display: flex;
    font-family: 'Ballo Bhai',cursive;
}


#navbar ul li{
    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    border-radius: 20px;  
}

#navbar ul li a:hover{
  color: black;
  background-color: white;  
  
}

/* home section */
#home{
    display: flex;
   flex-direction: column;
   padding: 3px 200px;
   height: 700px;
   justify-content: center;
   align-items: center;   
}

#home::before{
    content: "";
    background:url("imgages/food3.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
       
}
/* Utility class */
#home h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
    border: 2px solid red;
}
#home p{
    color:black;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif',serif;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
}

/* services */

.services{
    display: flex;
}
.services .box{
  padding: 20px;
  margin: 10px;
  border: 2px solid red;
  border-radius: 20px;
  background-color: rgb(215 212 212);
}

.services img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.h-secondary{
    font-size: 2.0rem;  
    text-align: center;
}

.services .box p{
    font-family: 'Bree Serif',serif;
    font-size: 1rem;   
}

/* Client-section */

#client-section{
    margin-top: 30px;
    height: 300px;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
#client-section img{
    height: 100px;
    margin: 20px; 
    border-radius: 15px;
}

#client-section::before{
    content: "";
    background: url("imgages/food3.jpg")no-repeat center center/cover;
    position: absolute;
    height: 40%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* contact-section */
#contact{
    height: 600px;
}
#contact::before{
    content: "";
    background: url("logo/contact.jpg")no-repeat center center/cover;
    position: absolute;
    height: 82%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
.contact-deatil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-deatil form{
     width: 40%;
    }

.contact-deatil label{
    font-size: 1.3rem;
}

.contact-deatil input,
.contact-deatil textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.3rem;
}

    /* footer */
    footer{
        color: white;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }